maven
packages
*.log
target
mvnw
mvnw.cmd

/.mvn
/.idea
./**/*.iml
*/**/target
*/**/.settings
*/**/.project
*/**/.classpath
*/**/.mvn
*/**/.idea
*/**/publish
*/**/node_modules
*/**/dist-rollup
*/**/out-tsc
*/**/out

!maven/config
*.iml
*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.mvn
*.iws
*.iml
*.ipr
